body {
   background-color: lightgray; 
}
h1 {
    font-family: 'Hachi Maru Pop', cursive;
    background-color: white;
}
h2 {
    font-family: 'Roboto Slab', serif;
}

img {
    width: 100%;
}
.tituloImagen{
    justify-content: space-between;
    display: flex;
}
.contador{
    margin-left: 80%;
    left: 80%;
}

.feed {
    width: 75%;
    background-color: white;
}
